.Game__format-example {
  text-align: center;
  font-style: italic;
}

.Game__restart-btn-container {
  display: flex;
  justify-content: center;
}

.Game__restart-btn {
  flex: .4;
  padding: 1rem;
  border: 2px black solid;
  box-shadow: 5px 10px #000;
  transition: .25s;
}

.Game__restart-btn:hover {
  background-color: tomato;
}
